<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/drag.css">
</head>
<body data-restaurant-name="{{ restaurant }}">

    <div id="grid"></div>

    <div id="imageHome">
        <img class="dragitem" id="drag1" src="../static/table.jpg" draggable="true">
        <img class="dragitem" id="drag2" src="../static/table.jpg" draggable="true">
        <img class="dragitem" id="drag3" src="../static/table.jpg" draggable="true">
        <img class="dragitem" id="drag4" src="../static/table.jpg" draggable="true">
        <img class="dragitem" id="drag5" src="../static/table.jpg" draggable="true">
        <img class="table" data-id="32" src="../static/table.jpg" data-x-coor=3 data-y-coor=4>
        <img class="table" data-id="32" src="../static/table.jpg" data-x-coor=3 data-y-coor=7>
    </div>

    <script src="../static/drag.js"></script>
    <script src="../static/displayTables.js"></script>

    <div class="mrt ml-auto">
      <ul class="navbar-nav">
        <a class="nav-link" href="/">Back</a>
      </ul>
      </div>
</body>
</html>
