<html>
	<head>
		<title> Owner </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="styles.css">
	</head>

	<center>
		<h2> Owner </h2> <br>
	</center>
	<form action="/restaurants" method="POST" class="top-right-form">
        <div>
            <button type="submit">Restaurants</button>
        </div>
    </form>
	<form action="/logout" method="POST" class="top-right-form">
        <div>
            <button type="submit">Logout</button>
        </div>
    </form>
    <script>
    function change()
    {
        var elem = document.getElementById("myButton1");
        if (elem.value=="Close Curtain") elem.value = "Open Curtain";
        else elem.value = "Close Curtain";
    }

    </script>
    
	{% if mode != "customer" %}
        <h2> Owner: {{rest[4]}} </h2>
        <br>
        <h1> Restaurant Name: {{rest[0]}} </h1>
        <h2 id="myButton1"> Edit </h2>
        <input onclick="change()" type="button" value="Open Curtain" id="myButton1"></input>
        <h3> Opening Time: {{ rest[1] }} </h3>
        <h4> Edit </h4>
        <h3> Closing Time: {{ rest[2] }} </h3>
        <h4> Edit </h4>
        
        <h3> Time between reservations: {{ rest[3] }} </h3>
        <h4> Edit </h4>
		{% for rest in tb %}
		<br>
        <h5> {{tb[0]}} </h5>
		<hr>
		{% endfor %}
	{% endif %}
</html>
