<!DOCTYPE html><html>
	<head>
		<title> Make a reservation at {{restaurant}} </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Make a Reservation in {{restaurant}} </title>
		<link rel="stylesheet" href="../static/styles.css">
		<link rel="icon" type="image/x-icon" href="../static/favicon.ico">

	</head>

	<body>
		<center> <h2> Make your Reservation in {{ restaurant }} </h2>
		<hr>
		<form action="/restaurants" method="POST" class="top-right-form">
			<div>
				<button type="submit">Go Back</button>
			</div>
		</form>
		<form action="/logout" method="POST" class="top-right-form">
			<div>
				<button type="submit">Logout</button>
			</div>
		</form>
		<hr>
		<form action=/makeReservation method="POST">
		<label for="date">Preferred Date:</label>
		<br>
		<input type="date" id="date" name="date" value="{{ date }}", min = "{{ date }}">
		<br>
		<label for="appt">Enter a time for your reservation:</label>
		<input type="time" name="time" min="{{ time[0] }}" max="{{ time[1] }}" required /> <br>
		<small> Opening hours are from {{ time[0] }} to {{ time[1] }} </small> <br>
		<br>
		How many people? <br>
		<select id="num" name="num">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
            <br>
		<button type="submit" name="restaurant" value="{{ restaurant }}">Submit!</button>
		</form>

		</center>

	</body>

</html>
