<html>
	<head>
		<title> List of Restaurants </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>

	<center>
		<h2> Restaurant List> </h2> <br>
	</center>

	{% for rest in restaurnts %}
	<h3> {{ rest[0] }} </h3>
	<br>
	<h4> Working Times: {{ rest[1] }}-{{ rest[2] }} </h4>
	{% if rest[4] == name %}
	<form action=/manage/{{ rest[0] }} method="GET">
		<button type="submit">Manage Restaurant</button>
	</form>
	{% else %}
	<form action=/reserve/{{ rest[0] }} method="GET">
		<button type="submit">Make Your Reservation!</button>
	</form>

	{% endif}
	{% endfor %}

	{% if mode == "manager" %}
	<form action=/create/} method="GET">
                <button type="submit">Add your own restaurant!</button>
        </form>
	{% endif %}
</html>
